// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-content-1 {
  //display: flex;
  //position: relative;
  justify-content: space-around;
  
}
  .media {
    display: flex;
    margin-top: 10px;
  }  

  .co {
    padding: 10px 10px;
  
  }
  
  .container-1 {
    margin: 20px 0;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: white;
    box-sizing: border-box;
  }
  